.Counter1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.Display1 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border: 10px;
  background-color: rgb(34, 141, 241);
}

button:hover {
  opacity: 0.75;
}